<div class="center jumbotron">

  <table>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Price</th>
    </tr>
    <% @flights.each do |flight| %>
    <tr>
      <td><%= flight.origin %></td>
      <td><%= flight.destination %></td>
      <td>$<%= flight.price %></td>
      <td>
        <form action="/flights/<%= flight.id %>/transactions/new" id="payment-form">
          <span>
            <input type="checkbox" name="hotel" value="true"> Add a hotel room for $200?
            <input type="submit" value="Select Flight">
          </span>
        </form>
      </td>
    </tr>
    <% end %>
  </table>

</div>
